<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>
<body>
    <form>
        이름 : <input type="text" name="name" id="name">
        email : <input type="text" name="email" id="email">
        <button type="button" onclick="postData()">제출</button>
    </form>
    <script>
        async function postData() {
           const name = document.getElementById('name').value;
           const email = document.getElementById('email').value;
           const data = {name,email};
           const result = await axios.post('http://localhost:8080/hello/axios-json-view', data);
           console.log(result.data);
       }
    </script>
</body>
</html>