<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>axiosFormView</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<form>
    이름 :<input type="text" name="name" id="name">
    이메일 : <input type="text" name="email" id="email"> <br>
    증명사진 : <input type="file" name="photo" id="photo" accept="image/*"> <br>
    <button type="button" onclick="postData2()">제출</button>
</form>
<script>
    async function postData2() {
        const name = document.getElementById('name').value;
        const email = document.getElementById('email').value;
        const fileInput = document.getElementById('photo');
        const file = fileInput.files[0];
        const serverData = new FormData();
        serverData.append('name',name);
        serverData.append('email',email);
        serverData.append('photo',file);
        const result = await axios.post("http://localhost:8080/hello/axios-form-view", serverData);
        console.log(result.data);
    }
</script>
</body>
</html>