<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>
<body>
    <form>
        이름 : <input type="text" name="name" id="name">
        email : <input type="text" name="email" id="email">
        <div id="grades">
            <p>성적정보</p>
            <div class="grade">
                수업명 : <input type="text" class="subjects" name="subject"> <br>
                점수 : <input type="text" class="points" name="point"> <br>
            </div>
        </div>
        <button type="button" onclick="addGrade()" >과목추가</button>
        <button type="button" onclick="postData()">제출</button>
    </form>
    <script>
        function addGrade(){
        const gradeDiv = document.getElementById('grades');
        gradeDiv.innerHTML += `
            <div class="grade">
                수업명 : <input type="text" class="subjects" name="subject"> <br>
                점수 : <input type="text" class="points"  name="point"> <br>
            </div>
        `;
    }

        async function postData() {
           const name = document.getElementById('name').value;
           const email = document.getElementById('email').value;
           let scores = [];
           const grades = document.getElementsByClassName('grade');
           for(let i = 0; i < grades.length; i++) {
                const subject = document.getElementsByClassName('subjects')[i].value;
                const point = document.getElementsByClassName('points')[i].value;
                const grade = {subject, point};
                scores.push(grade);
           }
           const serverData = {name:name, email:email, scores:scores};
           console.log(serverData);
           const result = await axios.post('http://localhost:8080/hello/axios-nested-json-view', serverData);
           console.log(result.data);
       }
    </script>
</body>
</html>